<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        .im{
            background-color:#514e4e;
        }
    
    {% block design %} {% endblock design %}</style>
</head>
<body class="im">
    
    <div class="container mt-4">
        {% block content %}



        {% endblock content %}
    
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>