{% extends 'base.html' %}

{% block content %}
<div class="container small">
    <div class="row small">
        <h2 class="text-center alert alert-primary">Welcome to To DO List </h2>
        <div class="col-sm-6 small">
            <h2 class="text-center alert alert-danger">Register here </h2>
            <form  class = "d-inline"action="" method="post">
            
                {% csrf_token %}
                {% comment %} {% if messages %}
                    {% for message in messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} " id="msg" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %} {% endcomment %}

                {% for fm in form %}
                <nav class="text-white">{{fm.label_tag}} {{fm}} </nav><br>
                {% endfor %}

                <input class="btn btn-success mt-2 sm " type="submit" value="Sign up">
            </form>
            <form  class = "d-inline" action = "{% url 'login' %}" method="post">
                {% csrf_token %}
                <input  class="btn btn-success mt-2 sm"type="submit" value="Go to login page">
            </form>
        </div>

        <div class="col-sm-5 offset-1 float-end">
            
        </div>
    </div>
</div>



{% endblock content %}