{% extends 'base.html' %}

{% block content %}

<div class="container">
<h1 class="text-center alert alert-success">Add your Task </h1>
    <div class="row">
        <div class="col-sm-8 small offset-2">
            <form action="" method="post">
                {% csrf_token %}
                {% for fm in  form %}
                    <nav class="text-white">{{fm.label_tag}} {{fm}}</nav>
                {% endfor %}
            <input class="btn btn-success mt-2" type="submit" value="Add Task">
        </form>
        
        </div>
    
    
    </div>

</div>


{% endblock content %}